.ipynb_checkpoints
.idea
regexTest.py
data/labeled_data.csv
tkinter-target


## IDE stuff
# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml